.lecture4 {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    padding: 20px;
    padding-top: 40px;
    margin: 20px;
}
.Box2 {
    background-color: black;
    font-style: italic;
    font-size: 40px;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
}

.fbImg img {
    height: 100px;
    width: 100px;
}
.fbImg p {
    font-size: 80px;

}